body {
	margin: 0;
	width: 100%;
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url("../img/bg3.jpg") center center fixed no-repeat;
	background-size: cover;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
/**
*页面的头部样式——开始
*/
.header {
	width: 100%;
	min-width: 1200px;
	height: 51px;
	background-color: rgba(255, 255, 255, 0);
}
.h-left, .h-center, .h-right {
	height: 100%;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.h-left {
	width: 25%;
	/*background: url("") left center no-repeat;*/
}
.h-center {
	width: 45%;
	text-align: right;
}
.h-center ul {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.h-center li {
	display: inline-block;
	height: 100%;
	line-height: 48px;
	margin: 0 12px;
	color: #e6d7c8;
	font-size: 14px;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.h-center li:hover {
	color: #fff;
}
.h-center li span {
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}
.h-center li:hover span {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
}
.h-right {
	width: 30%;
	height: 51px;
	line-height: 51px;
	position: relative;
}
.h-right ul {
	width: 100%;
	height: 28px;
	line-height: 28px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -15px;
	padding-left: 12px;
	overflow: hidden;
	border-left: 1px solid #e6d7c8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
.h-right ul li {
	width: 26px;
	height: 26px;
	cursor: pointer;
	margin: 0 2px;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #e6d7c8;
}
.h-iconfenlei{
	background:url("../img/fenlei.png") center no-repeat;
}
.h-iconsousuo{
	background:url("../img/sousuo.png") center no-repeat;
}
.h-iconback{
	background:url("../img/back.png") center no-repeat;
}
.h-iconforward{
	background:url("../img/sousuo.png") center no-repeat;
}


.h-right ul li:hover {
	color: #fff;
	border-color: #fff;
}

/**
*页面的头部样式——结束
*/

/**
*页面的导航样式——开始 
*/
.nav {
	width: 100%;
	min-width: 1200px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
}
.nav>div {
	float: left;
}

/* 导航用户头像区域样式——开始 */
.n-user {
	width: 20%;
	height: 51px;
	overflow: hidden;
}
.n-userimg, .n-userstate {
	float: left;
}
.n-userimg {
	width: 38px;
	height: 38px;
	margin: 6px 10px;
	cursor: pointer;
	/*background: url("../img/user.jpg") center center no-repeat;*/
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-ms-background-size: 100%;
	-o-background-size: 100%;
	border-radius: 50%;
}
.n-userstate {
	height: 50px;
	line-height: 50px;
}
.n-userstate .n-staicon {
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: url("../img/icon16.png") no-repeat;
	vertical-align: middle;
}
.n-userstate .n-count {
	vertical-align: middle;
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #fff;
}
.n-usercoordinate {
	float: right;
	width: 28px;
	height: 28px;
	line-height: 28px;
	margin: 11px 15px;
	text-align: center;
	background:url("../img/dingwei.png") center center no-repeat;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid #e6d7c8;
}

/* 导航用户头像区域样式——结束 */

/* 导航菜单区域样式——开始 */
.n-menu {
	width: 72%;
}
ul.n-parmenu {
	display: block;
	width: 100%;
}
ul.n-parmenu li.n-firstlevel {
	width: 10%;
	height: 49px;
	line-height: 49px;
	text-align: center;
	font-size: 14px;	/* overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis; */
	color: #e6d7c8;
	float: left;
	cursor: pointer;
	position: relative;
	z-index: 5;
}
ul.n-parmenu li.n-firstlevel:hover {
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
}
ul.n-submenu {
	display: block;
	width: atuo;
	min-width: 100%;
	height: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

/* 导航小三角 */
span.n-uparrow {
	display: block;
	width: 0;
	height: 0;
	display: none;
	border: 5px solid transparent;
	border-bottom-color: #e6d7c8;
	position: absolute;
	bottom: 1px;
	left: 50%;
	margin-left: -5px;
}

/* 导航线条 */
span.n-line {
	display: block;
	height: 1px;
	background-color: #e6d7c8;
	position: absolute;
	bottom: 0;
	left: 50%;
	right: 50%;
	transition:0.3s;
}
ul.n-submenu>li {
	width: auto;
	line-height: 35px;
	text-align: center;
	color: #e6d7c8;
	font-size: 13px;
}
ul.n-submenu>li:hover {
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
}

ul.n-parmenu li.n-firstlevel:hover ul.n-submenu {
	height: auto;
}
ul.n-parmenu li.n-firstlevel:hover span.n-uparrow {
	display: block;
}
ul.n-parmenu li.n-firstlevel:hover span.n-line {
	left: 0;
	right:0;
}

/* 导航菜单区域样式——结束 */

/**
导航更多可选项区域样式——开始
 */
.n-more {
	width: 8%;
	height: 51px;
	line-height: 51px;
	text-align: center;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
.n-more>span {
	width: 16px;
	height: 16px;
	cursor: pointer;
	display: inline-block;
}
.n-arrowl {
	background: url("../img/arrowl.png") center center no-repeat;
}
.n-arrowr {
	background: url("../img/arrowr.png") center center no-repeat;
}

/* 导航更多可选项区域样式——结束 */

/**
*页面的导航样式——结束 
*/

/**
*页面的主体内容样式——开始
*/
.main {
	width: 100%;
}
.m-body {
	width: 1200px;
	margin: 20px auto 0;
}
.m-title {
	display: block;
	width: 100%;
	height: 40px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.5);
	padding-left: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.m-title span {
	display: inline-block;
	height: 37px;
	line-height: 37px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	padding: 0 15px;
	border-bottom: 3px solid #15a4fa;
}
.m-subtitle {
	width: 100%;
}
.m-subtitle li {
	height: 35px;
	line-height: 35px;
	padding: 0 25px 0 15px;
	float: left;
	cursor: pointer;
}
.m-underline {
	border-bottom: 3px solid #15a4fa;
}
.m-content {
	display: block;
	width: 100%;
	padding: 20px 25px 20px;
	background-color: rgba(255, 255, 255, 0.6);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
/*******************表单专属******************/
.m-group {
	display: inline-block;
	margin-right: 300px;
	margin-bottom: 20px;
}
.m-group:nth-child(2n) {
	margin-right: 0;
}
.m-grouptitle {
	display: block;
	font-size: 15px;
	color: #333;
}
.m-group input {
	width: 300px;
	height：30px;
	line-height: 30px;
	outline: none;
	margin-top: 7px;
	padding: 0 8px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background-color: #f4efe9;
	font-size: 13px;
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.m-group input:focus {
	border-color: #15a4fa;
}
.m-group textarea {
	width: 570px;
	height: 120px;
	margin-top: 7px;
	padding: 8px;
	outline: none;
	background-color: #f4efe9;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-size: 13px;
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.m-group textarea:focus {
	border-color: #15a4fa;
}
.m-btnconfirm {
	width: 150px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: #5690cf;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
.m-btnconfirm a {
	color: #fff;
	text-decoration:none;
}
.m-btnconfirm:hover {
	background-color: #15a4fa;
}
/********************表单专属结束********************/
/********************表格专属*****************/
.m-btngroup>div {
	display: inline-block;
	width: 80px;
	height: 26px;
	line-height: 25px;
	text-align: center;
	background-color: #f4efe9;
	font-size: 13px;
	cursor: pointer;
	border: 1px solid #888;
	margin-right: 15px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
.m-btngroup>div:hover {
	border-color: #15a4fa;
	color: #15a4fa;
}
.m-btngroup span {
	vertical-align: middle;
}
.m-btnadd .m-btnicon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/new.png") center center no-repeat;
}
.m-btndelete .m-btnicon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/delete.png") center center no-repeat;
}
.m-content table {
	margin-top: 20px;
	background: #f4efe9;
	border-collapse: collapse;
}
.m-content table th, .m-content table td {
	min-width: 120px;
	height: 30px;
	line-height: 30px;
	padding: 5px 10px;
	text-align: left;
	font-size: 14px;
	border: 1px solid #BEABA5;
}
.m-content table tbody tr:nth-child(2n+1) {
	background-color: #f8f8f8;
}
/*******************表格专属结束**********************/
/**
*页面的主体内容样式——结束
*/




/*********************自行添加***************************/
ul.n-submenu>li a{
	display:block;
	color: #fff;
	font-size: 13px;
	text-decoration:none;
}
ul.n-submenu>li a:hover {
	background-color: rgba(0, 0, 0, 0.3);
	color: red;
}
.n-userimg .head_img {
	width :40px;
	height:40px;
	border-radius:20px; /* 所有角都使用半径为50px的圆角 */ 
}
.m-group .head_images {
	width :100px;
	height:100px;
	border-radius:50px; /* 所有角都使用半径为50px的圆角 */ 
}
.select {
	width:150px;
	height:30px;
}
/**********************分页样式专区**********************/
.page{
	margin-top:50px;
	text-align:center;
	font-size: 14px;
	font-family: verdana;
}
.page form{
	display:inline;
}
.page a{
	border: #aaaadd 1px solid;	
	text-decoration: none;
	padding:2px 5px 2px 5px;
	margin: 2px;
}
.page .current{
	border:#000099 1px solid;
	background-color: #000099;
	padding: 4px 6px 4px 6px;
	margin:2px;
	color:#fff;
	font-weight: bold;
}
.page .disable{
	border: #eee 1px solid;
	padding:2px 5px 2px 5px;
	margin: 2px;
	color:#ddd;
}