<extend name="Public:grade" />
<block name="grade">
<script type="text/javascript">
//ajax查看通知详细信息
function des(id){
	var src = $("#image")[0].src;	//获取src属性
	//ajax提交，弹窗提示ok
    $.post("<{:U('Grade/notice_detail_select')}>",{id:id},function(data,status){
    	$("#notice_info textarea").val(data.describe);	//显示通知详情
    	$("#images").attr("src",src+data.image);	//显示通知图片
    });	//post  
}

</script>
	<article class="main">
		<div class="m-body">
			<header class="m-title">
				<span>通知发布记录</span>
			</header>
			<seciton class="m-content">
				<div class="m-data">
					<table>
						<thead>
							<tr>
								<th> <input type="checkbox"> </th>
								<th> 序号 </th>
								<th> 标题 </th>
								<th> 发布时间 </th>
								<th> 详情 </th>
							</tr>
						</thead>
						<tbody>
							<volist name="info" id="va">
							<tr>
								<td><input type="checkbox"></td>
								<td><{$i}></td>
								<td><{$va.title}></td>
								<td><{$va.create_time|date="Y-m-d H:i:s",###}></td>
								<td>
									<a href="javascript:void(0)" data-reveal-id="notice_info" data-animation="fade" class="add-member" onclick="des('<{$va.id}>')">通知详情</a>
								</td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>
			</seciton>
		</div>
	</article>
	
	<!-- 查看作业详情 -->
	<div id="notice_info" class="reveal-modal large">
		<p class="d-title">通知描述<span></span></p>
		<a class="close-reveal-modal">&#215;</a>		
		<div class="add-member">
			<div class="d-textbox">
				<label>描述详情:</label>
				<textarea name="describe" readonly></textarea>
				<br><br>
				<img id='image' src="__PUBLIC__/upload/notice/" alt="" style="display:none">
				<img id='images' src="" alt="">	<!-- 此文本框用于显示图片 -->
			</div><br><br>
			<div class="d-btngroup">
				<input type="button" class="d-cancel" value="关闭">	
			</div> 
		</div>	
	</div> <!-- 弹窗结束 -->
</block>