<extend name="Public:class" />
<block name="class">
<style type="text/css">
/*添加按钮样式修改*/
.m-btnadd a {
	text-decoration:none;
	color:blue;
}
.m-btnadd a:hover{
	color:red;
}
</style>
<script type="text/javascript">
//解除绑定
function cancel(device_id){	//传入学生id号
	layer.open({
		  title: '提示',
		  content: '您确定要解除绑定么？',
		  //yes的回掉函数
		  yes: function(index,layero){
			//alert(id);return false;
			$.post("<{:U('Class/stu_bind_cancel')}>",{device_id:device_id},function(data,status){
				if(data == 'success'){	//添加成功，刷新当前页
					layer.msg('恭喜您，解除绑定成功！',{time:1500},function(){
		        		window.location.href = "<{:U('Class/stu_bind_status')}>";  
		        	});
				}else{
					layer.msg("解除绑定失败，请重试");
				}
			})//ajax解除绑定
		 }
	});     
}
//数据详情
function detail(device_id,name){
	$.post("<{:U('Class/stu_bind_detail')}>",{device_id:device_id},function(data,status){
		if(data){	//返回数据成功
			 $("input[name='name']").val(name);
			 $("input[name='device_id']").val(device_id);
			 $("input[name='imei']").val(data.IMEI);
			 $("input[name='imsi']").val(data.IMSI);
			 $("input[name='collectRate']").val(data.collectRate);
			 $("input[name='uploadRate']").val(data.uploadRate);
			 $("input[name='powerOnDateTime']").val(data.powerOnDateTime);
			 $("input[name='powerOffDateTime']").val(data.powerOffDateTime);
			 $("input[name='sos']").val(data.sos);
		}else{
			layer.msg("查询失败，请重试");
		}
	});
}
</script>
	<article class="main">
		<div class="m-body">
			<header class="m-title">
				<span>已绑定信息</span>
			</header>
			<seciton class="m-content">
				<div class="m-data">
					<table>
						<thead>
							<tr>
								<th> <input type="checkbox"> </th>
								<th> 序号 </th>
								<th> 学生姓名 </th>
								<th> 学生证编号 </th>
								<th> 采集频率 </th>
								<th> 上传频率 </th>
								<th> 操作 </th>
							</tr>
						</thead>
						<tbody>
							<volist name="info" id="va">
							<tr>
								<td><input type="checkbox"></td>
								<td><{$i}></td>
								<td><{$va.name}></td>
								<td><{$va.device_id}></td>
								<td><{$va.collectRate}></td>
								<td><{$va.uploadRate}></td>
								<td>
									<a href="javascript:void(0)" data-reveal-id="de_bind_detail" data-animation="fade" class="add-member" onclick="detail('<{$va.device_id}>','<{$va.name}>')">查看详情</a>
									&nbsp;&nbsp;&nbsp;
									<a href="#" class="add-member" onclick="cancel('<{$va.device_id}>')">解除绑定</a>
								</td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>
			</seciton>
		</div>
	</article>
	
	
	<!--学生设备详细信息弹窗 -->
	<div id="de_bind_detail" class="reveal-modal large">
		<p class="d-title">详细信息<span></span></p>
		<a class="close-reveal-modal">&#215;</a>		
		<div class="add-member">
			<div class="d-textbox">
				<label>学生姓名:<span style="color:red">*</span><span class="check_stu_name" style="color:red"></span></label>
				<input type="text" name="name" placeholder="请输入学生姓名"/>
			</div>
			<div class="d-textbox">
				<label>学生证编号:<span style="color:red">*</span><span class="check_device_id" style="color:red"></span></label>
				<input type="text" name="device_id" placeholder="请输入学生证编号"/>
				<span></span>
			</div>
			<div class="d-textbox">
				<label>IMEI号:<span style="color:red">*</span><span class="check_imei" style="color:red"></span></label>
				<input type="text" name="imei" placeholder="请输入IMEI号"/>
				<span></span>
			</div>
			<div class="d-textbox">
				<label>IMSI号:<span style="color:red">*</span><span class="chekc_imsi" style="color:red"></span></label>
				<input type="text" name="imsi" placeholder="请输入IMSI号"/>
				<span></span>
			</div>
			<div class="d-textbox">
				<label>采集频率:<span style="color:red">*</span><span class="check_collectRate" style="color:red"></span></label>
				<input type="text" name="collectRate" value=""/>
				<span></span>
			</div>
			<div class="d-textbox">
				<label>上传频率:<span style="color:red">*</span><span class="check_uploadRate" style="color:red"></span></label>
				<input type="text" name="uploadRate" value=""/>
				<span></span>
			</div>
			<div class="d-textbox">
				<label>开机时间:<span style="color:red">*</span><span class="check_powerOnDateTime" style="color:red"></span></label>
				<input type="text" name="powerOnDateTime" value=""/>
				<span></span>
			</div>
			<div class="d-textbox">
				<label>关机时间:<span style="color:red">*</span><span class="check_powerOffDateTime" style="color:red"></span></label>
				<input type="text" name="powerOffDateTime" value=""/>
				<span></span>
			</div>
			<div class="d-textbox">
				<label>求救电话:<span style="color:red">*</span><span class="check_sos" style="color:red"></span></label>
				<input type="text" name="sos" value=""/>
				<span></span>
			</div><br><br>
			<div class="d-btngroup">
				<input type="button" class="d-comfire" value="确定">
				<input type="button" class="d-cancel" value="取消">	
			</div>
		</div>	
	</div> <!-- 弹窗结束 -->
</block>